html,
body {
    overflow-x:hidden;
    overflow-y:scroll;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

.full-page {
    padding: 10% 0;
}

.logout-form{
    text-align: right;
}

.btn-outline-danger{
    position: absolute;
    display: inline-block;
    top: 3%;
    right: 3%;
}

.card {
    position: relative;
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
    top: 20%;
    border-radius: 16px;
    opacity: 0.9;
}

.url-input{
    width: 70%;
    padding: 1.2%;
    border-radius: 8px;
}

button:hover{
    cursor: pointer;
}

.trigger-form{
    text-align: center;
}

#trigger-btn{
    display: inline-block;
    padding: 0.5% 0.8%;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight:800;
    border-width: 3px;
}

.code{
    color: red;
    font-size: 1rem;
    font-weight: 600;
}

