<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webhook Registry Home</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/access.styles.css">
</head>

<body>
    <div class="full-page">
        <div class="container login-container">
            <div class="row form-box">
                <div class="col-md-6 login-form-1">
                    <form action="/login" method="post">
                        <h3>Login</h3>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="password" />
                        </div>
                        <div class="form-group button-container">
                            <input type="submit" class="btnSubmit" />
                        </div>
                    </form>
                </div>
                <div class="col-md-6 login-form-2">
                    <h3>Sign Up</h3>
                    <form action="/sigup" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="password" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password" name="con-password" />
                        </div>
                        <div class="form-group button-container">
                            <input type="submit" class="btnSubmit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>